.ms-safe {
  outline: 3px solid #00ff00 !important;
  background-color: rgba(0, 255, 0, 0.25) !important;
}

.ms-mine {
  outline: 3px solid red !important;
  background-color: rgba(255, 0, 0, 0.25) !important;
}
